= simple_form_for @profile, html: {id: "signup"} do |f|
  = f.error_notification

  .form-inputs
    = f.input :fname, label: false, input_html: {placeholder: "Your first name", id: "fname"}
    = f.input :email, label: false, input_html: {placeholder: "Your email", id: "email"}
    = f.input :niche, input_html: {value: @niche}, as: :hidden

  .form-actions
    = f.button :submit, "Get started!"
