= simple_form_for @user, url: finish_pre_registration_path, method: :put, html: {id: "signup"}  do |f|
  = f.error_notification

  .form-inputs
    = f.input :password, input_html: { class: "required", placeholder: "Create Password", id: "password" }
    = f.input :password_confirmation, input_html: { class: "required", placeholder: "Confirm Password", id: "password_confirm" }
    = f.input :id, as: :hidden, input_html: { value: @user.id }
    = f.input :chat_key, as: :hidden, input_html: { value: @chat_key }

  .form-actions
    = f.button :submit