.row-fluid
  .container-fluid
    .span6.offset2.centered
      %p.strong Current Picture:
      %br
      =image_tag @user.avatar.url(:square), class: "user-profile-image"
      %br
      %br
      = simple_form_for(@user, html: { class: "form-horizontal"}) do |f|
        = f.error_notification
        = f.full_error :image_file_size, class: "alert alert-error" 
        = f.full_error :image_content_type, class: "alert alert-error"

        = f.input :avatar, label: false
        .form-buttons
          = f.button :submit, "Update Picture", class: "button"
        %p.muted Photo must be a JPG, PNG or GIF file and less than 2 megabytes.