%section.row-fluid.chat-page-header
  .span10.offset1
    %h3
      Host: 
      = @host_name
    %h3
      Attendee:
      = @attendee_name

    %h1= @user_type

%section.row-fluid.chat-window
  .span12

    #wrapper
      #remoteView
%section.row-fluid.chat-controls
  #video_controls
    %a#go_fullscreen.button{:href => '#'} Go Fullscreen
    &nbsp; &nbsp; &nbsp;
    =link_to "End Chat", @after_route, class: "button"


%script{:src => "https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js", :type => "text/javascript"}

:javascript
  $(document).ready(function() {
    vid_obj.api_key = #{ENV["OPENTOK_APIKEY"]};
    vid_obj.session_id = "#{@session_id}";
    vid_obj.token = "#{@token}";

    vid_obj.activate();

  });

