%tr
  %td= link_to appointment.host.short_name, user_page_url(appointment.host)
  %td= link_to appointment.attendee.short_name, user_page_url(appointment.attendee)
  %td= appointment.time.strftime("%-m/%-d/%Y %l:%M %p")
  //%td= link_to(ENV["LOCATION"] + "/chat/go/" + appointment.chat_key, chat_start_url(appointment.chat_key), target: "_blank")
  -if can? :manage, appointment
    %td= link_to 'Show', appointment_path(user_id: current_user.slug, id: appointment.id)
    %td= link_to 'Edit', edit_appointment_path(user_id: current_user.slug, id: appointment.id)