= simple_form_for(@appointment) do |f|
  = f.error_notification

  .form-inputs
    Host/Expert:
    %br
    = f.collection_select :host_id, User.all, :id, :username
    %br
    Attendee/User:
    %br
    = f.collection_select :attendee_id, User.all, :id, :username
    = f.input :time, :ampm => true, label: "Time (EST)"
    = f.input :completed
    = f.input :length, label: "Length (mins)"
    = f.input :chat_key, as: :hidden, input_html: { value: @hash }
    = f.input :chat_session_id, as: :hidden, input_html: { value: @session_id }

  .form-actions
    = f.button :submit
