- content_for :main_content do
  .row-fluid#appointment
    .max-container
      .span10.offset1{style: "text-align:center;"}
        %h2
          = @conversation.subject

  .row-fluid#appointment
    .max-container 
      .span5
        %h5 Message History
        .well
          %ul.unstyled
            = content_tag_for(:li, @conversation.receipts_for(current_user)) do |receipt|
              - message = receipt.message
              - sender = message.sender
              =image_tag("#{sender.avatar}", width: "20px", class: "rounded-corners-profile-pic")
              -if message.created_at.today?
                %strong= "Today at " + message.created_at.strftime("%l:%M %p")
              -else
                %strong= "On " + message.created_at.strftime("%-m/%-d/%Y") + " at " + message.created_at.strftime("%l:%M %p")
              %strong= sender == current_user ? "You said..." : sender.first_name + " said..."
              %p.muted= message.body
        /= render 'messages/form', conversation: @conversation

      .span6.offset1      
        = render 'form'

        %p.muted The attendee will not be charged until the request is confirmed, when both parties agree to the details of the appointment. The host will only receive payment once it is confirmed that the appointment was completed successfully. Any changes to the details of the appointment will require approval from the other party. You will continue to be able to add detail about the appointment through the messaging system to the left.



= link_to 'Show', appointment_path(user_id:current_user.slug, id: @appointment.id)
\|
= link_to 'Back', appointments_path
